#=================================================
# Python Module Template
# Version: 1.0.0
# Last Updated: 2018/01/19
#=================================================

#-------------------------------------------------
# Language Exclusions
#-------------------------------------------------
__pycache__
.pytest_cache
*.env
*.pyc
.coverage
.tox

#-------------------------------------------------
# Build Exclusions
#-------------------------------------------------
build
deps
dist
target
temp
*.egg-info

#-------------------------------------------------
# IDE Exclusions
#-------------------------------------------------
.c9
.history
.idea
.project
.python-version
.settings
.vs
.vscode
nbproject
*.swp
*.vim

#-------------------------------------------------
# Module Specific Exclusions
#-------------------------------------------------
__main__.py
lib*
*.log
local-*
log/*
^requirements.txt
permutations.json
templates
threatconnect*
tests/reports/*
TODO.md

#-------------------------------------------------
# Other Nonsense
#-------------------------------------------------
codeql-tcex
