#
# Language Exclusions
#
*.pyc

#
# Module Specific Exclusions
#
*.log
log
tc.json
app.py
__main__.py

#
# Docs
#
docs/src/*example
docs/src/_build
docs/src/_static
docs/src/_templates

#
# IDE Exclusions
#
.c9
.python-version

#
# Other Nonsense
#
bcs*
test*
threatconnect*
