[tool.black]
line-length = 100
skip-string-normalization = true

[tool.pylint.messages_control]
# C0103 - invalid-name
# C0302 - too-many-lines
# C0330 - bad-continuation
# C0401 - wrong-spelling
# R0205 - useless-object-inheritance
# R0801 - duplicate-code
# R0902 - too-many-instance-attributes
# R0903 - too-few-public-methods
# R0904 - too-many-public-methods
# R0912 - too-many-branches
# R0913 - too-many-arguments
# R0914 - too-many-locals
# R0915 - too-many-statements
# R1702 - too-many-nested-blocks
# W0212 - protected-access
# W0511 - fixme
# W0703 - broad-except
# W0707 - raise-missing-from
# W1203 - logging-fstring-interpolation
# W1514 - unspecified-encoding
disable = "C0103,C0302,C0330,C0415,E0401,R0205,R0801,R0902,R0903,R0904,R0912,R0913,R0914,R0915,R1702,W0212,W0511,W0703,W0707,W1203,W1514"
